.header {
    background-color:whitesmoke;
    min-height: 8vh;
    margin-bottom: 5vh;
    padding: 15px;
}

i {
    font-size: 20px;
    color: rgb(255, 165, 0);
    position: relative;
    top: 18px;
}